<!DOCTYPE html>
<html>
<head>
    <title>Smoker Prediction</title>
</head>
<body>

    <h2>Smoker Prediction Form</h2>

    <form action="/predict" method="POST">

        <label>Age:</label><br>
        <input type="text" name="age" placeholder="Enter age"><br><br>

        <label>Sex:</label><br>
        <select name="sex">
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select><br><br>

        <label>BMI:</label><br>
        <input type="text" name="bmi" placeholder="Enter BMI"><br><br>

        <label>Number of Children:</label><br>
        <input type="text" name="children" placeholder="Enter number of children"><br><br>

        <label>Region:</label><br>
        <select name="region">
            <option value="southwest">Southwest</option>
            <option value="southeast">Southeast</option>
            <option value="northwest">Northwest</option>
            <option value="northeast">Northeast</option>
        </select><br><br>

        <label>Insurance Charges:</label><br>
        <input type="text" name="charges" placeholder="Enter charges"><br><br>

        <button type="submit">Predict</button>
    </form>

    <br>

    {% if prediction_text %}
        <h3>Prediction: {{ prediction_text }}</h3>
    {% endif %}

</body>
</html>